<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
  <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
</style>

  <title>OngoingProjects</title>
</head>
<font size="5" face="Courier New" >
<table style="width:100%">
  
  <tr>
       <th>BATCH NAME</th>
       <th>ROLL NUMBER</th>
       <th>PROJECT NAME</th>
       <th>PROJECT GUIDE</th>
  </tr>
  <tr>
       <td>B1</td>
       <td>15JG1A05A5,15JG1A05B3,15JG1A05A0,14JG1A0598</td>
       <td>Impact of financial news headlines and content to market sentiments</td>
       <td>Ms.K.Suneeta</td>
  </tr>
  <tr>
       <td>B2</td>
       <td>15JG1A0565,15JG1A05A8,15JG1A05B9,15JG1A05B8</td>
       <td>An extensive optimization towards rainfall prediction using machine learning</td>
       <td>Mr.CH.V.V.D.Prasad</td>
  </tr>
  <tr>
       <td>B3</td>
       <td>15JG1A05B0,15JG1A0595,15JG1A0562,16JG5A0504</td>
       <td>User identification across multiple social networks</td>
       <td>Ms.P.Sridevi</td>
  </tr><tr>
       <td>B4</td>
       <td>15JG1A05A9,15JG1A0599,15JG1A05B7,15JG1A0588</td>
       <td>Heart disease prediction system using machine learning techniques</td>
       <td>Mr.B.L.V.Vinay Kumar</td>
  </tr>
  <tr>
       <td>B5</td>
       <td>15JG1A05B6,15JG1A0581,16JG1A0506,15JG1A0580</td>
       <td>Automatic question paper generator system</td>
       <td>Mr.K.Naga Raju</td>
  </tr>
   <tr>
       <td>B6</td>
       <td>15JG1A05A7,15JG1A0587,15JG1A0575,15JG1A0566</td>
       <td>Performance comaparision of machine algorithms for restaurant reviwes</td>
       <td>Mr.V.Laxmana Rao</td>
  </tr>
  <tr>
       <td>B7</td>
       <td>15JG1A0582,15JG1A0597,15JG1A0573,15JG1A05A6</td>
       <td>Online health care prediction system</td>
       <td>Ms.P.Sridevi</td>
  </tr>
  <tr>
       <td>B8</td>
       <td>15JG1A0576,15JG1A0598,15JG1A0571,15JG1A0578</td>
       <td>Real time college bus monitoring system</td>
       <td>Mr.S.Sumahasan</td>
  </tr>
   <tr>
       <td>B9</td>
       <td>15JG1A0586,15JG1A0561,15JG1A0592,15JG1A0585</td>
       <td>Enhancing the security of data using image steganography</td>
       <td>Ms.Y.Sowmya</td>
  </tr>
  <tr>
       <td>B10</td>
       <td>15JG1A0589,15JG1A0563,15JG1A0564,15JG1A05B1</td>
       <td>URL phishing attacks prediction system using random forest algorithm</td>
       <td>Dr.M.Bhanu Sridhar</td>
  </tr>
  <tr>
       <td>B11</td>
       <td>15JG1A05B2,15JG1A0593,15JG1A0583,15JG1A05A2</td>
       <td>Automatic subjective answer checker</td>
       <td>Ms.Y.Sowmya</td>
  </tr>
  <tr>
       <td>B12</td>
       <td>15JG1A0505,15JG1A91,15JG1A05B4,15JG1A0568</td>
       <td>Image authentication based otp system</td>
       <td>Ms.V.A.Gowthami</td>
  </tr>
  <tr>
       <td>B13</td>
       <td>15JG1A0577,15JG1A05A4,15JG1A0567,15JG1A0569</td>
       <td>Face and emotion recognition based on haar cascades</td>
       <td>Ms.K.Rohini</td>
  </tr>
  <tr>
       <td>B14</td>
       <td>15JG1A0584,15JG1A0585,15JG1A0570,15JG1A0574</td>
       <td>Mining maximal cliques using B-K algorithm</td>
       <td>Mr.K.Purushottam Naidu</td>
  </tr>
  <tr>
       <td>B15</td>
       <td>15JG1A0572,15JG1A0594,15JG1A05A1</td>
       <td>Enumerating maximal bicliques from a large graph using map reduce</td>
       <td>Mr.K.Purushottam Naidu</td>
  </tr>
  <tr>
       <td>B16</td>
       <td>15JG1A0579,15JG1A0590,15JG1A05A3</td>
       <td>Online project management system</td>
       <td>Ms.K.N.S.Chitra</td>
  </tr>
</table>
</html>