<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
</style>
</head>
	<title>OngoingProjects</title>
<font size="5" face="Courier New" >
<table style="width:100%">
  <tr>
       <th>BATCH NAME</th>
       <th>ROLL NUMBER</th>
       <th>PROJECT NAME</th>
       <th>PROJECT GUIDE</th>
  </tr>
  <tr>
       <td>B1</td>
       <td>16JG1A05A5,16JG1A0596,16JG1A0570,16JG1A0595</td>
       <td>Sucididal tendency prediction using sentiment Analysis Based on Machine Learning Algorithm in social Networks</td>
       <td>K.Rohini</td>
  </tr>
  <tr>
       <td>B2</td>
       <td>16JG1A0572,16JG1A0575,16JG1A0577,16JG1A0569</td>
       <td>Fake news and Hatespeech detection and prevention</td>
       <td>M.Swapna</td>
  </tr>
  <tr>
       <td>B3</td>
       <td>16JG1A05B6,16JG1A05B5,16JG1A0565,16JG1A0599</td>
       <td>Handwritten Telugu Character Recognition using Deep Learning</td>
       <td>B.Vijaya Lakshmi</td>
  </tr>
  <tr>
       <td>B4</td>
       <td>16JG1A0598,16JG1A0568,17JG1A0501,16JG1A05A8</td>
       <td>Offline Signature Verification Using SVM</td>
       <td>K.Nagaraju</td>
  </tr>
  <tr>
       <td>B5</td>
       <td>16JG1A0573,16JG1A05B2,16JG1A0586,16JG1A0588</td>
       <td>Enabling Healthcare Access Using Blockchain Based Healthcare System</td>
       <td>Dr.N.Sharmili</td>
  </tr>
  <tr>
       <td>B6</td>
       <td>16JG1A0581,16JG1A0574,16JG1A0583,16JG1A05A9</td>
       <td>Classification of breast cancer of histology images</td>
       <td>Dr.Tushar</td>
  </tr>
  <tr>
       <td>B7</td>
       <td>16JG1A05A0,16JG1A05A6,16JG1A05B4,16JG1A05A7</td>
       <td>Predicting Stock Market Behaviour using News headlines and historic data</td>
       <td>K.Sunitha</td>
  </tr>
  <tr>
       <td>B8</td>
       <td>16JG1A0579,16JG1A05B0,16JG1A0597,16JG1A0566</td>
       <td>Crop Prediction using IoT and svm classification technique </td>
       <td>K.P.Naidu</td>
  </tr>
  <tr>
       <td>B9</td>
       <td>16JG1A0576,16JG1A0580,16JG1A0593,16JG1A05A2</td>
       <td>smart car parking system using IoT</td>
       <td>M.Swapna</td>
  </tr>
  <tr>
       <td>B10</td>
       <td>16JG1A0591,16JG1A0567,16JG1A05B3,16JG1A0578</td>
       <td>Prediction of frequent diseases from health data through data mining association technique using apriori algorithm</td>
       <td>Dr.M.Bhanu Sridhar</td>
  </tr>
  <tr>
       <td>B11</td>
       <td>16JG1A05A3,16JG1A05B1,16JG1A0594,16JG1A05A4</td>
       <td>QRcode based navigation system for attender robot</td>
       <td>K.N.S.Chitra</td>
  </tr>
  <tr>
       <td>B12</td>
       <td>16JG1A0592,16JG1A0587,16JG1A05B7,16JG1A0561</td>
       <td>Brain tumor segmentation from MRI images and detecting cancerous tumors. </td>
       <td>Dr.M.Bhanu Sridhar</td>
  </tr>
  <tr>
       <td>B13</td>
       <td>16JG1A0590,16JG1A0562,16JG1A0585,16JG1A0564</td>
       <td>Multi level authentication system based on sound signature and graphical password</td>
       <td>V.Lakshmana Rao</td>
  </tr>
  <tr>
       <td>B14</td>
       <td>16JG1A0563,16JG1A0589,16JG1A0582,16JG1A0584</td>
       <td>prediction of cyberbullying using sentiment analysis</td>
       <td>K.Rohini</td>
  </tr>
</table>
</body>
</html>




