<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
  <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
</style>

  <title>OngoingProjects</title>
</head>
<font size="5" face="Courier New" >
<table style="width:100%">
  <tr>
       <th>BATCH NAME</th>
       <th>ROLL NUMBER</th>
       <th>PROJECT NAME</th>
       <th>PROJECT GUIDE</th>
  </tr>
  <tr>
       <td>B1</td>
       <td>15JG1A0520,15JG1A0543,15JG1A0529,15JG1A0519</td>
       <td>Influence maximization and cost minimization on graph datasets using MODPSO algorithm</td>
       <td>Dr.P.V.S.Jagadamba</td>
  </tr>
  <tr>
       <td>B2</td>
       <td>15JG1A0523,15JG1A0506,15JG1A0518,15JG1A0551</td>
       <td>Block chain based smart contract for auction system</td>
       <td>Mr.B.L.V VinayKumar</td>
  </tr>
   <tr>
       <td>B3</td>
       <td>15JG1A0511,15JG1A0541,15JG1A0527,15JG1A0507</td>
       <td>Atomspeheric pollution prediction using deep learning</td>
       <td>Ms.M.Swapna</td>
  </tr> 
   <tr>
       <td>B4</td>
       <td>16JG5A0501,15JG1A0509,15JG1A0532,15JG1A0516</td>
       <td>Three level password authentication </td>
       <td>Ms.V.A.Gowthami</td>
  </tr> 
  <tr>
       <td>B5</td>
       <td>15JG1A0544,15JG1A0549,15JG1A0559,15JG1A0533</td>
       <td>Analyzing the accuracy of machine learning classification models in prediction of flight delays</td>
       <td>Ms.D.Indu</td>
  </tr> 
  <tr>
       <td>B6</td>
       <td>15JG1A0550,15JG1A0505,15JG1A0560,15JG1A0515</td>
       <td>A Novel approach to avoid food wastage</td>
       <td>Dr.M.BhanuSridhar</td>
  </tr>  
  <tr>
       <td>B7</td>
       <td>15JG1A0501,15JG1A0539,15JG1A0531,15JG1A0553</td>
       <td>An Effective classification system of separating weeds from crops</td>
       <td>Dr.B.DwithiKrishna</td>
  </tr>  
  <tr>
       <td>B8</td>
       <td>15JG1A0512,15JG1A0542,15JG1A0526,15JG1A0503</td>
       <td>Cloud based improved file handling and duplication removal using MD file</td>
       <td>Ms.D.Indu</td>
  </tr>  
  <tr>
       <td>B9</td>
       <td>15JG1A0537,15JG1A0524,15JG1A0552,15JG1A0513</td>
       <td>Online dictionary using rest end point architecture</td>
       <td>Mr.K.NagaRaju</td>
  </tr> 
  <tr>
       <td>B10</td>
       <td>15JG1A0548,15JG1A0525,15JG1A0504,15JG1A0534</td>
       <td>Detection lung cancer using computer vision on CT scan images</td>
       <td>Ms.B.Vijaya Lakshmi</td>
  </tr>   
  <tr>
       <td>B11</td>
       <td>15JG1A0535,15JG1A0510,16JG5A0503,15JG1A0508</td>
       <td>Detection of DOS attacks in wireless link layer</td>
       <td>Ms.M.Deepthi</td>
  </tr> 
  <tr>
       <td>B12</td>
       <td>15JG1A0522,15JG1A0538,15JG1A0528,15JG1A0521</td>
       <td>Implementation of efficient three party authentication scheme for data exchange</td>
       <td>Mr.A.Uday Kumar</td>
  </tr>      
  <tr>
       <td>B13</td>
       <td>15JG1A0514,15JG1A0558,15JG1A0517,15JG1A0547</td>
       <td>Secure data transmission in wireless sensor network</td>
       <td>Mr.G.Shankar Rao</td>
  </tr>  
  <tr>
       <td>B14</td>
       <td>15JG1A0545,15JG1A0556,15JG1A0536</td>
       <td>Facial expression recognition using priniciple component analysis</td>
       <td>Ms.K.Rohini</td>
  </tr>
  <tr>
       <td>B15</td>
       <td>15JG1A0502,15JG1A0555,15JG1A0554</td>
       <td>Production rating system using sentiment analysis</td>
       <td>Ms.K.N.S.Chitra</td>
  </tr> 
  <tr>
       <td>B16</td>
       <td>15JG1A0557,15JG1A0540,16JG5A0502</td>
       <td>Implementation of honey encryption</td>
       <td>Mr.S.Sumahasan</td>
  </tr>
</table>
</html>