<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
  <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
</style>

  <title>OngoingProjects</title>
</head>
<font size="5" face="Courier New" >
<table style="width:100%">
  <tr>
       <th>BATCH NAME</th>
       <th>ROLL NUMBER</th>
       <th>PROJECT NAME</th>
       <th>PROJECT GUIDE</th>
  </tr>
  <tr>
       <td>B1</td>
       <td>16JG1A0554,16JG1A0514,16JG1A0547,16JG1A0516</td>
       <td>Text Summarization using Deep Learning</td>
       <td>G.Shankara Rao</td>
  </tr>
  <tr>
       <td>B2</td>
       <td>16JG1A0525,16JG1A0501,16JG1A0523,16JG1A0542</td>
       <td>Gender classification for video surveillance applications</td>
       <td>V.A.Gowthami</td>
  </tr>
  <tr>
       <td>B3</td>
       <td>16JG1A0557,16JG1A0502,16JG1A0556,16JG1A0545</td>
       <td>Smart Water Quality Monitoring and Analytics in Real - Time System based on IoT and Big Data</td>
       <td>K.P.Naidu</td>
  </tr>
  <tr>
       <td>B4</td>
       <td>16JG1A0551,16JG1A0526,16JG1A0531,16JG1A0519</td>
       <td>Traceability in the food supply chain using Blockchain</td>
       <td>Dr.N.Sharmili</td>
  </tr>
  <tr>
       <td>B5</td>
       <td>16JG1A0548,16JG1A0536,16JG1A0513,16JG1A0553</td>
       <td>Adaptive frame extraction and action recognition using deep learning</td>
       <td>Dr.P.V.S.L.Jagadamba</td>
  </tr>
  <tr>
       <td>B6</td>
       <td>16JG1A0520,16JG1A0533,16JG1A0559,16JG1A0534</td>
       <td>Placement Management System</td>
       <td>R.Sridevi</td>
  </tr>
  <tr>
       <td>B7</td>
       <td>16JG1A0529,16JG1A0540,16JG1A0544,16JG1A0518</td>
       <td>Application of deep learning for object detection</td>
       <td>S.Sumahasan</td>
  </tr>
  <tr>
       <td>B8</td>
       <td>16JG1A0535,16JG1A0527,16JG1A0532,16JG1A0509</td>
       <td>Vehicle speed detection using image processing</td>
       <td>S.Sumahasan</td>
  </tr>
  <tr>
       <td>B9</td>
       <td>16JG1A0506,16JG1A0543,16JG1A0504,16JG1A0549</td>
       <td>A Novel cloud storage for privacy preserving using bloom filters</td>
       <td>V.Lakshmana Rao</td>
  </tr>
  <tr>
       <td>B10</td>
       <td>16JG1A0539,16JG1A0546,16JG1A0552,16JG1A0530</td>
       <td>Optical Character Recognition using Deep Learning</td>
       <td>G.Shanakara Rao</td>
  </tr>
  <tr>
       <td>B11</td>
       <td>16JG1A0515,16JG1A0524,16JG1A0511,16JG1A0560</td>
       <td>Fake News Detection Using Machine Learning Algorithms and Artificial Neural Networks</td>
       <td>K.Sunitha</td>
  </tr>
  <tr>
       <td>B12</td>
       <td>16JG1A0522,16JG1A0512,16JG1A0538,16JG1A0517</td>
       <td>Plant disease prediction system using image processing </td>
       <td>Y.Sowmya</td>
  </tr>
  <tr>
       <td>B13</td>
       <td>16JG1A0537,16JG1A0555,16JG1A0541,16JG1A0503</td>
       <td>Drug Information Extraction With Image Processing</td>
       <td>D.Indu</td>
  </tr>
  <tr>
       <td>B14</td>
       <td>16JG1A0550,16JG1A0521,16JG1A0510,16JG1A0507</td>
       <td>Driver Drowsiness Detection and alert system using Image Processing</td>
       <td>D.Indu</td>
  </tr>
  <tr>
       <td>B15</td>
       <td>16JG1A0508,16JG1A0505,16JG1A0528,16JG1A0558</td>
       <td>Performance of Different techniques in Prediction of Chronic Kidney Disease</td>
       <td>Y.Sowmya</td>
  </tr>
</table>
</html>