<!DOCTYPE html>
<html>
<head>
	<title>Sign up for students</title>
</head>
<body style="background-color:rosybrown;">
	<center>
	<h2>Sign up Page</h2><br><br>
	<form action="{% url 'signup'  %}" method="POST">
	
	<label><b>Batch no:</b>
	<input type="text" name="username" required>
	</label><br><br>
	<input type="checkbox" name="yr">
	<label>2020</label><br><br>
	<label><b>Guide:</b>
	<input type="text" name="fu" required><br><br>
	</label>
	<label><b>Project Name:</b>
	<input type="text" name="Project name" required><br><br>
	<label><b>Set password:</b>
	<input type="password" name="password" required><br><br>
	<input type="submit" value="Create account">
	</label>
	</label>
	</form>
	</center>
</body>
</html>	


