<!DOCTYPE html>
<html>
<head>
	<title>Student password reset</title>
	<style type="text/css">
		body
		{
			background-image:url("/static/images/pic4.jpg");
			background-size:cover;
		}
	</style>
</head>
<body>
	<center>
	<form action="{% url 'spasswordreset' %}" method="POST">
		{% csrf_token %}
<label><h3>Batch no:</h3>
	<input type="text" name="u" required>
</label>
<br>
<br>
<label><h3>Old Password:</h3>
	<input type="password" name="o" required>
</label>
<br>
<br>
<label><h3>New Password:</h3>
	<input type="password" name="n" required>
</label>
<input type="submit" value="log in">
</form>
{% if messages %}
{% for message in messages %}
{{message}}
{% endfor %}
{% endif %}
</body>
</center>
</html>